body {
	color: #373d48;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: default;
}

* {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    quotes: none;
    font-style: normal;
    outline: none;
}

header {
	position: fixed;
    width: 100%;
    text-align: center;
    z-index: 11;
    height: 47px;
}

a {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    list-style: none;
    text-decoration: none;
    color: #4978b3;
    cursor: pointer;
}

p {
    padding: 0 0 10px 0;
}

button {
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

#header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    border-bottom: 1px solid #22242C;
    background: #373c4a;
    height: 100%;
    z-index: 2;
}

.Menu {
    position: relative;
    display: inline-block;
    min-width: 970px;
    text-align: left;
    height: 47px;
    vertical-align: top;
    z-index: 2;
    text-align: left;
}

.Menu a {
  line-height: 47px;
  padding: 0 10px 1px;
  color: #9ea0a5;
  height: auto;
  font-weight: 500;
}

.MenuDroite {
	float: right;
	font-size: 13px;
    position: relative;
    z-index: 2;
}

.MenuGauche {
	float: left;
    font-size: 13px;
    position: relative;
    z-index: 2;
}

.LigneUn {
    border-top: 0;
}

.Burger ul {
    padding: 8px 0 7px;
    border: 0;
    border-top: 1px solid #f0f0f2;
    position: relative;
}

.Burger ul li a {
    line-height: 26px;
    color: #767a88;
    min-height: 0;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

#Logo {
	width: 11px;
    height: 19px;
    position: absolute;
    left: 170%;
    margin: -10px 0 0 -6px;
    top: 50%;
    background-position: -20px -20px;
    opacity: 0.9;
    z-index: 2;

    overflow: hidden;
    float: left;
    border: 0;
}

#Logo:hover {
    opacity: 0.75;
    transition: opacity 0.05s;
}

.Logo {
    background: url("images/header_new.782d7ef85649.png") no-repeat;
    background-size: 150px 100px;
}

#Logo a {
    display: block;
    width: 91px;
    height: 20px;
    padding: 0;
    text-indent: -1000em;
    overflow: hidden;
    cursor: default;
}

.ListeGauche {
    position: static;
    float: left;
    height: 48px;
    border: 0;
    margin: 0;
    z-index: 0;
}

.new {
    display: inline-block;
    font-size: 9px;
    color: #4da4e0;
    font-weight: bold;
    text-transform: uppercase;
    top: -3px;
    position: relative;
}

.hidden {
    display: block;
    height: 0;
    overflow: hidden;
    width: auto;
    position: static;
}

.Shop {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    z-index: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
}

.Store {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    z-index: 0;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
    box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
}

.MenuBurger:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 12px;
    margin: -3px 0 0 0;
    opacity: 0.45;
    background-position: -40px -21px;
    background-size: 150px 100px;
    background-image: url('images/header_new.782d7ef85649.png');
}

.Burger {
    margin:0;
    left: 0;
}

.MenuDerouler {
    position: absolute;
    display: block;
    background: #fff;
    border-radius: 3px;
    box-shadow: none;
    top: 38px;
    width: 202px;
    padding: 0;
    transition: 0.15s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
}

.trick {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.Loupe:before {
    content: '';
    display: inline-block;
    width: 14px;
    opacity: 0.45;
    height: 15px;
    margin: -5px 0 0 0;
    vertical-align: middle;
    background-position: 0 -20px;
    background-size: 150px 100px;
    background-image: url('images/header_new.782d7ef85649.png');
}

.Loupe:hover {
    opacity: 1;
}

.ListeDroite {
    float: left;
}

.Langue ul li {
    float: left;
    width: 50%;
    margin-top: -1px;
    font-size: 13px;
}

.LangueActuelle:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 4px;
    background-position: -40px -40px;
    margin: -2px 0 0 7px;
    background-size: 150px 100px;
    opacity: 0.45;
    vertical-align: middle;
    background-image: url('images/header_new.782d7ef85649.png');
}

.Langue ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);
    pointer-events: none;
}

.PageContainer {
    float: left;
    width: 100%;
    background-color: #efefef;
}

#Page {
    width: 970px;
    top: 0;
    position: relative;
    margin: 0 auto;
    padding: 68px 0 0;
}

.Page {
    padding: 0;
    background: none;
    box-shadow: none;
}

.ContenantGauche {
    float: left;
    width: 648px;
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 0;
}


.Wrapper {
    margin-bottom: 18px;

    position: relative;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
    -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
    -moz-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
}

.ImageItem {
    width: auto;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
    background: none;
}

.ImageItem figure {
    display: block;
    margin: 4px;
    height: 640px;
    width: 640px;
    background-image: url('images/1001828740998632171_153d63c594ca.jpg');
}

.ImageItem figure span.Image {
    height: 640px;
    width: 640px;
}

.ImageItem figure .Image {
    border-radius: 0;
    background: 50% 50% no-repeat;
    text-align: center;
    background-size: contain;
    overflow: hidden;
    height: 640px;
    width: 640px;
    position: relative;
    width: 210px;
    font-size: 13px;
    line-height: 15px;
    color: #8a8f9c;
}

.ImageDetails {
    position: relative;
    border-top: 1px solid #f0f1f2;
}

.ListeImagesDetails {
    float: left;
    width: 200px;
    padding-bottom: 20px;
}

.ListeImagesDetails .after {
    padding: 7px;
}

.ListeImagesDetails .after .current {
    float: left;
    vertical-align: top;
    margin: 8px 0 0 8px;
    height: 50px;
}

.ListeImagesDetails .after .current .active {
    box-shadow: inset 0 0 0 2px rgba(62,133,205,0.75);
    background-image: url('images/1001828740998632171_153d63c594ca(1).jpg');
    height: 50px;
    width: 50px;
    background-size: cover;
    display: block;
    border-radius: 3px;
}

.Description {
    float: right;
    width: 433px;
    padding: 15px 15px 20px 0;
}

.Description .Details {
    position: relative;
    font-size: 13px;
    line-height: 19px;
    color: #383d48;
    max-height: 175px;
    overflow: hidden;
    padding-bottom: 15px;
}

h4 .Titre {
  padding-bottom: 5px;
  font-size: 13px;
  line-height: 19px;
}

.Description .Details p {
  font-size: 13px;
  line-height: 18px;
  color: #383d48;
}

.Description .after li {
    float: left;
    width: 100%;
    line-height: 17px;
    border-bottom: 1px solid #f0f0f2;
    padding: 7px 0;
}

.Description .after li label {
    float: left;
    color: rgb(138, 143, 156);
    font-size: 13px;
}

.Description .after li span {
    float: right;
    color: #383d48;
    width: 285px;
    font-size: 13px;
}

.Description .after .Police {
    border-bottom: 0;
}

.Description .after .Police span a {
    text-decoration: none;
    color: #4978b3;
    cursor: pointer;
}

.SlideDroite {
    float: right;
    width: 303px;
    padding: 0;
    background: none;
    box-shadow: none;
}

.Infos {
    position: relative;
}

.Infos h3 {
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    padding: 16px 15px 5px;
}

.Infos p.Prix {
    padding: 5px 15px 0;
}

.Infos p.Prix big {
    font-size: 20px;
    font-weight: bold;
}

.Infos p.Prix big small {
    font-size: 15px;
    font-weight: normal;
    color: #383d48;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 1px;
    margin-left: 5px;
}

.Infos p.Prix span {
    padding: 4px 0 3px;
    color: #8a8f9c;
    font-size: 11px;
}

.Infos .FormeAchat {
    padding: 6px 15px 0;
    position: relative;
}

.FormeAchat p {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.FormeAchat p.Option {
    width: 192px;
}

.FormeAchat .AchatItem p label {
    display: block;
    color: #8a8f9c;
    font-size: 12px;
    padding: 7px 0 6px;
}

.AchatItem {
    width: 274px;
}

.AchatItem .trick-select {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.AchatItem .trick-select .selectBox {
    opacity: 1;
    display: block;
    line-height: 30px;
    border-color: #d1d5d7;
    color: #373d48;
    padding: 0;
}

.AchatItem select {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
}

.selectBox {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #D0D2D3;
    border-bottom-color: #CED0D2;
    box-shadow: 0 1px 0 #F2F2F2;
    border-radius: 3px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    line-height: 18px;
    text-shadow: none;
    background: #F8F8F8;
    box-shadow: none;
}

.select-boxes2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 100% 50%;
    line-height: 15px;
    padding: 5px 5px 5px 7px;
    -webkit-padding-end: 20px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #caccd0;
    border-bottom-color: #bdc0c5;
    border-radius: 3px;
}

.selectBox-arrow {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 50%;
    height: 22px;
    width: 17px;
    margin-top: -11px;
}

.selectBox-label {
    position: relative;
    display: block; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin: 0 20px 0 7px;
    width: auto;
    padding: 0;
    vertical-align: middle;
}

.FormeAchat .AchatItem button {
    display: block;
    width: 274px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 35px;
    height: auto;
}

.selectBox-arrow img {
    height: 22px;
    width: 17px;
}


.btns-green-embo {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    padding: 0 13px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #568342;
    border-top-color: #588446;
    border-bottom-color: #3e6b32;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -moz-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -o-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -ms-linear-gradient(top,#75ad5e,#639b4e);
    background-image: linear-gradient(to bottom,#75ad5e,#639b4e);
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.20);
}

.Sommaire {
  z-index: 9;
  position: fixed;
  top: -17px;
  opacity: 0;
  transition: 0.2s;
  left: 50%;
  width: 970px;
  margin-left: -485px;
  background: #fff;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0px 3px 1px rgba(0, 0, 0, 0.03), 0 0px 1px 0px rgba(0, 0, 0, 0.04);
  height: 59px;
}
