body {
	color: #373d48;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    cursor: default;
}

* {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style: none;
    quotes: none;
    font-style: normal;
    outline: none;
}

header {
	position: fixed;
    width: 100%;
    text-align: center;
    z-index: 11;
    height: 47px;
}

a {

    font-family: Helvetica;
    list-style: none;
    text-decoration: none;
    color: #4978b3;
    cursor: pointer;
}

p {
    padding: 0 0 10px 0;
}

button {
    cursor: pointer;
    vertical-align: middle;
    outline: none;
}

#header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    border-bottom: 1px solid #22242C;
    background: #373c4a;
    height: 100%;
    z-index: 2;
}

.Menu {
    position: relative;
    display: inline-block;
    min-width: 970px;
    text-align: left;
    height: 47px;
    vertical-align: top;
    z-index: 2;
    text-align: left;
}

.Menu a {
  line-height: 47px;
  padding: 0 10px 1px;
  color: #9ea0a5;
  height: auto;
  font-weight: 500;
}

.MenuDroite {
	float: right;
	font-size: 13px;
    position: relative;
    z-index: 2;
}

.MenuGauche {
	float: left;
    font-size: 13px;
    position: relative;
    z-index: 2;
}

.LigneUn {
    border-top: 0;
}

.Burger ul {
    padding: 8px 0 7px;
    border: 0;
    border-top: 1px solid #f0f0f2;
    position: relative;
}

.Burger ul li a {
    line-height: 26px;
    color: #767a88;
    min-height: 0;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

#Logo {
	width: 11px;
    height: 19px;
    position: absolute;
    left: 190%;
    margin: -10px 0 0 -6px;
    top: 50%;
    background-position: -20px -20px;
    opacity: 0.9;
    z-index: 2;

    overflow: hidden;
    float: left;
    border: 0;
}

#Logo:hover {
    opacity: 0.75;
    transition: opacity 0.05s;
}

.Logo {
    background: url("images/header_new.782d7ef85649.png") no-repeat;
    background-size: 150px 100px;
}

#Logo a {
    display: block;
    width: 91px;
    height: 20px;
    padding: 0;
    text-indent: -1000em;
    overflow: hidden;
    cursor: default;
}

.ListeGauche {
    position: static;
    float: left;
    height: 48px;
    border: 0;
    margin: 0;
    z-index: 0;
}

.ListeGauche .TitreMenuGauche:hover {
    color: #e2e2e2;
    transition: 0.15s ease-in-out;
}

.ListeGauche:hover .Shop {
    visibility: visible;
}

.ListeGauche:hover .Store {
    visibility: visible;
}

.ListeGauche:hover .Fond {
    visibility: visible;
    opacity: 0.4;
}

.Fond {
    background-color: #303339;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: fixed;
    transition: opacity 0.15s ease-in-out;
}

   
.new {
    display: inline-block;
    font-size: 9px;
    color: #4da4e0;
    font-weight: bold;
    text-transform: uppercase;
    top: -3px;
    position: relative;
}

.hidden {
    display: block;
    height: 0;
    overflow: hidden;
    width: auto;
    position: static;
}

/*-----------------------------Debut de Shop-----------------------------*/

.Shop {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    z-index: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
}

.Shop .Parcourir span {
    padding: 19px 15px 0;
    font-weight: bold;
    font-size: 12px;
}


.Shop ul {
    float: left;
    color: #383d48;
    border-right: 1px solid #f0f0f2;
    position: relative;
    padding-top: 20px;
}


.Shop a {
    border-radius: 0;
    display: block;
    min-height: 0;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    line-height: 26px;
    color: #767a88;
    background: none;
}

.Parcourir div {
    padding: 7px 0 3px;
    border: 0;
    width: 191px;
}

.Editors {
    float: left;
    padding: 0 0 3px;
    border: 0;
    width: 191px;
}

.Collections span {
    padding: 19px 20px 0;
    font-weight: bold;
    font-size: 12px;
}

.Collections div {
    position: relative;
    padding: 7px 5px 14px;
}

.Collections:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
}

.Shop {
    width: 970px;
    height: 214px;
}

.Shop:after {
    content: '';
    clear: both;
    display: block;
}

.Shop .Alaffiche {
    float: right;
    padding: 20px 15px 0 0;
}

.Shop .Alaffiche div {
    position: relative;
    padding: 7px 5px 0px 0px;
    padding-bottom: 0;
}

.Shop .Alaffiche div ul {
    border-top: 1px solid #f0f0f2;
    position: relative;
    float: left;
    padding: 0 0 3px;
    border: 0;
    padding-top: 8px;
    font-size: 12px;
    font-weight: bold;
    width: 350px;
}

.Shop .Alaffiche div ul li {
    float: left;
}

.Shop .Alaffiche div ul li a {
    background: none;
    opacity: 1;
    color: #60646d;
    padding: 0 0 0 15px;
}

.Shop .Alaffiche div ul li a img {
    display: block;
    background: no-repeat 50% 50% #f9f9f9;
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12);
    width: 160px;
    height: 120px;
    margin-bottom: 2px;
}

.Alaffiche {
    font-weight: bold;
    font-size: 12px;
}

.ListeGauche .Shop a:hover {
    color: #35393f;
    transition: 0.15s ease-in-out;
}

/*-----------------------------Fin de Shop - Debut de Store-----------------------------*/

.Store {
    display: block;
    visibility: hidden;
    position: absolute;
    left: 0;
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    z-index: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 1px 0px rgba(0,0,0,.1);
    width: 970px;
    height: 214px;
}

.Store a {
    border-radius: 0;
    display: block;
    min-height: 0;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    line-height: 26px;
    color: #767a88;
    background: none;
}

.Store ul {
    float: left;
    color: #383d48;
    border-right: 1px solid #f0f0f2;
    position: relative;
    padding-top: 20px;
}

.FeaturedStores {
    width: 191px;
}

.FeaturedStores span {
    padding: 19px 15px 0;
    font-weight: bold;
    font-size: 12px;
}

.FeaturedStores div {
    padding: 7px 0 3px;
    border: 0;
}

.Gessato {
    width: 191px;
}

.NewStores {
    width: 201px;
}

.NewStores span {
    padding: 19px 20px 0;
    font-weight: bold;
    font-size: 12px;
}

.NewStores div {
    position: relative;
    padding: 7px 5px 14px;
}

.Store .Alaffiche {
    float: right;
    padding: 20px 15px 0 0;
}

.Store .Alaffiche div {
    position: relative;
    padding: 7px 5px 0px 0px;
    padding-bottom: 0;
}

.Store .Alaffiche div ul {
    border-top: 1px solid #f0f0f2;
    position: relative;
    float: left;
    padding: 0 0 3px;
    border: 0;
    padding-top: 8px;
    font-size: 12px;
    font-weight: bold;
    width: 350px;
}

.Store .Alaffiche div ul li {
    float: left;
}

.Store .Alaffiche div ul li a {
    background: none;
    opacity: 1;
    color: #60646d;
    padding: 0 0 0 15px;
}

.Store .Alaffiche div ul li a img {
    display: block;
    background: no-repeat 50% 50% #f9f9f9;
    background-size: cover;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.12);
    width: 160px;
    height: 120px;
    margin-bottom: 2px;
}

.ListeGauche .Store a:hover {
    color: #35393f;
    transition: 0.15s ease-in-out;
}

/*-----------------------------Fin de Store-----------------------------*/

.MenuBurger:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 12px;
    margin: -3px 0 0 0;
    background-position: -40px -21px;
    background-size: 150px 100px;
    background-image: url('images/header_new.782d7ef85649.png');
}

.MenuBurger {
    opacity: 0.45;
}

.MenuBurger:hover {
    opacity: 0.85;
    transition: 0.15s ease-in-out;
}

.Burger {
    margin:0;
    left: 0;
}

.MenuDerouler {
    position: absolute;
    display: block;
    background: #fff;
    border-radius: 3px;
    box-shadow: none;
    top: 38px;
    width: 202px;
    padding: 0;
    transition: 0.15s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
}

.Burger ul li:hover {
    background-color: #EAEAEA;
    cursor: pointer;
    color: #3f444f;
}


.Burger ul li a:hover {
    color: #3f444f;
}

#MenuBurger:hover .Burger {
    visibility: visible;
    opacity: 1;
}

/*-----------------------------Fin du Menu Burger-----------------------------*/

.trick {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-in-out;
}

.Loupe:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 15px;
    margin: -5px 0 0 0;
    vertical-align: middle;
    background-position: 0 -20px;
    background-size: 150px 100px;
    background-image: url('images/header_new.782d7ef85649.png');
}

.Loupe {
    opacity: 0.45;
}

.Loupe:hover {
    opacity: 0.85;
    transition: 0.15s ease-in-out;
}

/*-----------------------------Fin de Loupe-----------------------------*/

.ListeDroite {
    float: left;
}

.Langue {
    right: 0;
}


.Langue ul {
    float: left;
    width: 100%;
    padding: 8px 0 7px;
    border: 0;
    border-top: 1px solid #f0f0f2;
    position: relative;
    border-top: 0;
}

.Langue ul li {
    float: left;
    width: 50%;
    margin-top: -1px;
    font-size: 13px;
}

.Langue ul li a {
    line-height: 26px;
    color: #767a88;
    min-height: 0;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-size: 13px;
}

.Langue ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
}

.LangueActuelle:after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 4px;
    background-position: -40px -40px;
    margin: -2px 0 0 7px;
    background-size: 150px 100px;
    opacity: 0.45;
    vertical-align: middle;
    background-image: url('images/header_new.782d7ef85649.png');
}

.Langue ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    pointer-events: none;
}

.Langue .Selection {
    font-weight: bold;
    color: #383d48;
}

.Langue ul li:hover {
    background-color: #EAEAEA;
    cursor: pointer;
}

.Langue ul li a:hover {
    color: #3f444f;
}

#MenuLangue:hover .Langue {
    visibility: visible;
    opacity: 1;
}

.ListeDroite a:hover {
    color: #e2e2e2;
    transition: 0.15s ease-in-out;
}

.LangueActuelle:after :hover {
    opacity: 0.85;
    transition: 0.15s ease-in-out;
}

/*-----------------------------Fin de Langue-----------------------------*/

/*-----------------------------Fin de Header-----------------------------*/

/*-----------------------------Debut Container Page-----------------------------*/

.PageContainer {
    float: left;
    width: 100%;
    background-color: #efefef;
}

#Page {
    width: 970px;
    top: 0;
    position: relative;
    margin: 0 auto;
    padding: 68px 0 0;
}

.Page {
    padding: 0;
    background: none;
    box-shadow: none;
}

.ContenantGauche {
    float: left;
    width: 648px;
    padding: 0;
    background: none;
    box-shadow: none;
    margin: 0;
}


.Wrapper {
    margin-bottom: 18px;

    position: relative;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
    -webkit-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
    -moz-box-shadow: 0 1px 0px 0px #D0D1D5, 0 0px 0px 1px rgba(220, 221, 224, 0.7);
}

.ImageItem {
    width: auto;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
    background: none;
}

.ImageItem figure {
    display: block;
    margin: 4px;
    height: 640px;
    width: 640px;
    background-image: url('images/1001828740998632171_153d63c594ca.jpg');
}

.ImageItem figure span.Image {
    height: 640px;
    width: 640px;
}

.ImageItem figure .Image {
    border-radius: 0;
    background: 50% 50% no-repeat;
    text-align: center;
    background-size: contain;
    overflow: hidden;
    height: 640px;
    width: 640px;
    position: relative;
    width: 210px;
    font-size: 13px;
    line-height: 15px;
    color: #8a8f9c;
}

.ImageItem .PinIt {
    height: 20px;
    width: 40px;
    position: absolute;
    opacity: 1;
    display: none;
    cursor: pointer;
    border: none;
    top: 10px;
    left: 10px;
    background-image: url('images/pinit.png');
    background-color: transparent;
    background-size: 40px 20px;
}

.ImageItem:hover .PinIt {
    display: block; 
}

.ImageDetails {
    position: relative;
    border-top: 1px solid #f0f1f2;
}

.ListeImagesDetails {
    float: left;
    width: 200px;
    padding-bottom: 20px;
}

.ListeImagesDetails .after {
    padding: 7px;
}

.ListeImagesDetails .after .current {
    float: left;
    vertical-align: top;
    margin: 8px 0 0 8px;
    height: 50px;
}

.ListeImagesDetails .after .current .active {
    box-shadow: inset 0 0 0 2px rgba(62,133,205,0.75);
    background-image: url('images/1001828740998632171_153d63c594ca(1).jpg');
    height: 50px;
    width: 50px;
    background-size: cover;
    display: block;
    border-radius: 3px;
}

.Description {
    float: right;
    width: 433px;
    padding: 15px 15px 20px 0;
}

.Description .Details {
    position: relative;
    font-size: 13px;
    line-height: 19px;
    color: #383d48;
    max-height: 175px;
    overflow: hidden;
    padding-bottom: 15px;
}

h4 .Titre {
  padding-bottom: 5px;
  font-size: 13px;
  line-height: 19px;
}

.Description .Details p {
  font-size: 13px;
  line-height: 18px;
  color: #383d48;
}

.Description .after li {
    float: left;
    width: 100%;
    line-height: 17px;
    border-bottom: 1px solid #f0f0f2;
    padding: 7px 0;
}

.Description .after li label {
    float: left;
    color: rgb(138, 143, 156);
    font-size: 13px;
}

.Description .after li span {
    float: right;
    color: #383d48;
    width: 285px;
    font-size: 13px;
}

.Description .after .Police {
    border-bottom: 0;
}

.Description .after .Police span a {
    text-decoration: none;
    color: #4978b3;
    cursor: pointer;
}

.SlideDroite {
    float: right;
    width: 303px;
    padding: 0;
    background: none;
    box-shadow: none;
}

.Infos {
    position: relative;
}

.Infos h3 {
    line-height: 22px;
    font-size: 18px;
    font-weight: normal;
    padding: 16px 15px 5px;
}

.Infos p.Prix {
    padding: 5px 15px 0;
}

.Infos p.Prix big {
    font-size: 20px;
    font-weight: bold;
}

.Infos p.Prix big small {
    font-size: 15px;
    font-weight: normal;
    color: #383d48;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 1px;
    margin-left: 5px;
}

.Infos p.Prix span {
    padding: 4px 0 3px;
    color: #8a8f9c;
    font-size: 11px;
}

.Infos .FormeAchat {
    padding: 6px 15px 0;
    position: relative;
}

.FormeAchat p {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.FormeAchat p.Option {
    width: 192px;
}

.FormeAchat .AchatItem p label {
    display: block;
    color: #8a8f9c;
    font-size: 12px;
    padding: 7px 0 6px;
}

.AchatItem {
    width: 274px;
}

.AchatItem .trick-select {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.AchatItem .trick-select .selectBox {
    opacity: 1;
    display: block;
    line-height: 30px;
    border-color: #d1d5d7;
    color: #373d48;
    padding: 0;
}

.AchatItem select {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
}

.selectBox {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #D0D2D3;
    border-bottom-color: #CED0D2;
    box-shadow: 0 1px 0 #F2F2F2;
    border-radius: 3px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    line-height: 18px;
    text-shadow: none;
    background: #F8F8F8;
    box-shadow: none;
}

.select-boxes2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 100% 50%;
    line-height: 15px;
    padding: 5px 5px 5px 7px;
    -webkit-padding-end: 20px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #caccd0;
    border-bottom-color: #bdc0c5;
    border-radius: 3px;
}

.selectBox-arrow {
    display: inline-block;
    position: absolute;
    right: 1px;
    top: 50%;
    height: 22px;
    width: 17px;
    margin-top: -11px;
}

.selectBox-label {
    position: relative;
    display: block; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin: 0 20px 0 7px;
    width: auto;
    padding: 0;
    vertical-align: middle;
}

.FormeAchat .AchatItem button {
    display: block;
    width: 274px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 35px;
    height: auto;
}

.selectBox-arrow img {
    height: 22px;
    width: 17px;
}


.btns-green-embo {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    padding: 0 13px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #568342;
    border-top-color: #588446;
    border-bottom-color: #3e6b32;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -moz-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -o-linear-gradient(top,#75ad5e,#639b4e);
    background-image: -ms-linear-gradient(top,#75ad5e,#639b4e);
    background-image: linear-gradient(to bottom,#75ad5e,#639b4e);
    height: 30px;
    line-height: 28px;
    border-radius: 3px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.20);
}

.FigureButton {
    position: relative;
    clear: both;
    padding: 15px 14px 15px 15px;
    margin: 0 -15px;
    border-top: 1px solid #f1f1f2;
}

.button {
    float: right;
}

.ButtonStatic {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 1px 10px 0;
    line-height: 29px;
    font-size: 12px;
    border: 1px solid;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    border-radius: 3px;
    margin: 0 3px 0 0;
    width: auto;
}

a.fancyd_list {
    margin-left: 2px;
    font-size: 13px;
    box-shadow: none;
    background: #fafafa;
    font-weight: normal;
    text-shadow: none;
    padding: 2px 9px 0;
    display: inline-block;
    line-height: 28px;
    border: 1px solid #dedfe0;
    color: #969AA5;
    border-radius: 3px;
    vertical-align: middle;
    position: relative;
}

#more-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    margin: 0;
    background-color: transparent;
}

#more-menu .button {
    margin: 0 0 0 7px;
    float: right;
}


#more-menu button {
    height: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 1px 10px 0;
    line-height: 29px;
    font-size: 12px;
    border: 1px solid;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    background: -webkit-linear-gradient(top,#FFF,#F6F7F8);
    background: -ms-linear-gradient(top,#FFFFFF,#F6F7F8);
    background: -moz-linear-gradient(top,#FFFFFF,#F6F7F8);
    background: -o-linear-gradient(top,#FFFFFF,#F6F7F8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F6F7F8');
    border-radius: 3px;
    margin: 0 3px 0 0;
    width: auto;
}

#more-menu .share {
    width: 32px;
    padding: 1px 0 0;
    text-align: center;
}

#more-menu .share b {
    display: none;
}

#more-menu .add-list b {
    display: inline;
    padding-left: 4px;
    font-size: 12px;
    color: #6A707D;
}

#more-menu button small {
    display: none;
}

#more-menu button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: static;
    margin-top: -3px;
    opacity: 0.8;
    background-size: 50px 50px;
    background-image: url('images/shop_buttons.21421f08fb77.png');
    width: 10px;
    background-position: -190px -130px;

    top: 50%;
    right: 13px;
    height: 10px;
    margin-top: -5px;
}

#more-menu .add-list:before {
    opacity: 0.9;
    background-position: 0 -40px;
}

#more-menu .share:before {
    background-position: -35px -40px;
    opacity: 0.9;
    width: 14px;
}

.button.share {
    width: 32px;
    padding: 1px 0 0;
    text-align: center;
}

.button.share:before {
    background-position: -35px -40px;
    opacity: 0.9;
}

.button.add-list:before {
    opacity: 0.9;
    background-position: 0 -40px;
}

.ButtonStatic:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: static;
    margin-top: -3px;
    opacity: 0.8;
    background: url("images/shop_buttons.21421f08fb77.png") no-repeat;
    background-size: 50px 50px;

    display: inline-block;
    width: 10px;
    height: 15px;
    vertical-align: middle;
    margin: -3px 6px 0 0;
}

.TitreProvenance {
    position: relative;
    display: block;
    font-size: 14px;
    color: #383d48;
    line-height: 18px;
    padding: 16px 15px 16px 60px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    padding-left: 65px;
}

.Provenance .TitreProvenance img {
    width: 40px;
    height: 40px;
    left: 15px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    position: absolute;
    background-image: url('images/fancy_saleitemsellerlogo_18587_6715a80d05a5.jpg');
    background-size: cover;
}

.Provenance ul.after {
    padding: 0 15px;
    overflow: hidden;
}

.TitreProvenance:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 14px;
    background-position: -60px 0;
    right: 16px;
    top: 50%;
    margin-top: -7px;
    opacity: 0.5;
}

.TitreProvenance b:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#FFFFFF);
    background: -ms-linear-gradient(left,rgba(255,255,255,0),#FFFFFF);
    background: -moz-linear-gradient(left,rgba(255,255,255,0),#FFFFFF);
    background: -o-linear-gradient(left,rgba(255,255,255,0),#FFFFFF);
    height: 100%;
}

.Provenance.Follow {
    position: absolute;
    right: 15px;
    top: 19px;
}

.Provenance a.ask {
    display: block;
    font-weight: bold;
    border-top: 1px solid #f1f1f2;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
}

.Provenance a small {
    display: block;
    color: #8a8f9c;
    font-size: 12px;
}

.Follow {
    position: absolute;
    right: 15px;
    top: 19px;
    width: 47px;
    height: 30px;
    text-indent: -1000em;
}

.Boutons {
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 1px 0 #FFF;
    font-weight: bold;
    padding: 0 12px;
    line-height: 28px;
    font-size: 13px;
    border: 1px solid;
    border-radius: 3px;
    color: #5A616F;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #CCCED2 #CDCED0 #B6B7B9;
    background: #F4F4F5;
    background: -webkit-linear-gradient(top,#FFF,#F6F7F8);
}

.Follow:before {
    background-position: 0 -37px;
    content: '';
    position: absolute;
    width: 25px;
    height: 12px;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -12px;
    background-image: url('images/follow_button.77003bd0b205.png');
    background-size: 25px 86px;
}

.Provenance .after {
    padding: 0 15px;
    overflow: hidden;
    height: 67px;
}

.Provenance .after li {
    float: left;
    padding: 0 2px 15px 3px;
    padding-left: 0;
}

.Provenance .after li a span {
    display: block;
    width: 74px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
    height: 74px;
    background-position: 50% 50%;
    background-size: cover;
    width: 52px;
    height: 52px;
}

/*----------------------Fin de PRovenance - Debut de More Info---------------------*/
.MoreInfo li {
    float: none;
    padding: 0;
    border-top: 1px solid #f0f1f2;
}

.MoreInfo:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}

.LienMoreInfo {
    padding-left: 15px;
    padding-right: 40px;
    position: relative;
    display: block;
    font-size: 14px;
    color: #383d48;
    line-height: 18px;
    padding: 16px 16px;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.MoreInfo li a small {
    display: block;
    color: #8a8f9c;
    font-size: 12px;
}

.MoreInfo li a b {
    position: relative;
    display: inline;
    overflow: hidden;
    text-overflow: clip;
}

.LienMoreInfo:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 14px;
    background-position: -60px 0;
    right: 16px;
    top: 50%;
    margin-top: -7px;
    opacity: 0.5;
    background-image: url('images/arrow_things.9a77ec32349b.png');
    background-size: 100px 100px;
}

.LienMoreInfo:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: #fff;
    box-shadow: -5px 0 20px #fff;
}

/*----------Fin de Slide de droite et de  More Info - Debut de Signalement--------------*/

.Signalement {
    margin-top: -5px;
    font-size: 12px;
}

.Signalement a {
    display: block;
    padding-bottom: 5px;
    color: #b1b3ba;
    font-size: 12px;
}

/*-----------------Fin de signalement - Debut de Contenant Bas--------------------*/

.ContenantBas {
    clear: both;
}

.Tableau {
    padding: 20px 0 26px;
    color: #898d94;
    font-size: 15px;
}

.Tableau li {
    float: left;
    margin-right: 28px;
    font-weight: bold;
}

.Tableau li .Objet {
    color: #5b626d;
    opacity: 1;
}

.Tableau li .Recent {
    color: #898d94;
    opacity: 0.7;
}

.Tableau:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    overflow: hidden;
}

.VetementList li:nth-child(4n+1) {
  margin-left: 0;
  clear: both;
}

.VetementList li {
    float: left;
    margin: 0 0 18px 18px;
    width: 229px;
}

.image {
    position: relative;
    padding: 0 0 8px;
    width: 210px;
    font-size: 13px;
    line-height: 15px;
    color: #8a8f9c;
    width: auto;
    position: relative;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.015), 0 0 0 1px #DBDBDC;
}

.image figure {
    position: relative;
    border-radius: 3px 3px 0 0;
    background: no-repeat;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
    height: 229px;
}

.image figcaption {
    position: relative;
    display: block;
    padding: 11px 4px 1px 11px;
}

.image figcaption .TitreLien {
    text-overflow: clip;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    color: #494F59;
    margin-bottom: 1px;
}

.image figcaption .TitreLien:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);
    background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0) 60%, white 90%);
    pointer-events: none;
}

.image figcaption .figure-detail {
    position: relative;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image figcaption .figure-detail .Prix {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: #373d48;
    line-height: 17px;
}

figcaption .figure-detail .Pourcentage:before {
    content: '·';
    margin-right: 4px;
}

figcaption .figure-detail .Nom {
    display: inline-block;
    vertical-align: middle;
    color: #8a8f9c;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70%;
    line-height: 17px;
}

figcaption .figure-detail .Nom a {
    color: #8a8f9c;
}

.image figure a .left_num {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    line-height: 19px;
    font-size: 12px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-weight: bold;
    top: auto;

}

.image figure .fancy {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 1px 10px 0;
    line-height: 29px;
    font-size: 12px;
    border: 1px solid;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    border-radius: 3px;
    margin: 0 3px 0 0;
    width: auto;
    float: left;
    top: 6px;
    right: -6px;
}

.image figure .fancy:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: static;
    margin-top: -3px;
    opacity: 0.8;
    background: url("images/shop_buttons.21421f08fb77.png") no-repeat;
    background-size: 50px 50px;
    display: inline-block;
    width: 10px;
    height: 15px;
    vertical-align: middle;
    margin: -3px 6px 0 0;
}

.image .buttons button {
    width: 32px;
    padding: 1px 0 0;
    text-align: center;
    height: auto;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    line-height: 29px;
    font-size: 12px;
    border: 1px solid;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    border-radius: 3px;
    margin: 0 3px 0 0;
    float: right;
}

.image .buttons button:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    position: static;
    background-size: 50px 50px;
    background-image: url('images/shop_buttons.21421f08fb77.png');
    top: 50%;
    right: 13px;
    height: 10px;
    background-position: -35px -40px;
    opacity: 0.9;
    width: 14px;
    margin-top: -5px;
}

.BtnShare {
    top: -268px;
    left: -5px;
}

.BtnHover {
    opacity: 0;
}

.image:hover .BtnHover{
    opacity: 1;
}

/*------------Fin de Contenant Bas - Debut de Sommaire----------*/

.Sommaire {
    z-index: 9;
    position: fixed;
    top: 46px;
    transition: 0.2s;
    left: 50%;
    width: 970px;
    margin-left: -485px;
    background: #fff;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2), 0 0px 3px 1px rgba(0, 0, 0, 0.03), 0 0px 1px 0px rgba(0, 0, 0, 0.04);
    height: 59px;
    display: none;
}

.Sommaire h3 {
    transition: 0.2s margin;
    -webkit-transition: 0.2s margin;
    -moz-transition: 0.2s margin;
    float: left;
    font-size: 15px;
    font-weight: normal;
    color: #38424c;
    padding: 15px;
    line-height: 29px;
}

.Sommaire div {
  float: right;
  clear: none;
  margin: 0;
  border: 0;
  padding: 13px 14px 14px;
}

.Sommaire em {
    float: right;
    position: relative;
    z-index: 2;
}

.Sommaire em small {
    float: left;
}

.Sommaire em small button {
    float: right;
    margin: 0 0 0 7px;
}

.Sommaire .button-static {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    font-weight: bold;
    padding: 1px 10px 0;
    line-height: 29px;
    font-size: 12px;
    border: 1px solid;
    color: #6A707D;
    text-shadow: 0 1px 0 #FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: rgba(204, 206, 210, 0.67) rgba(205, 206, 208, 0.78) rgba(182, 183, 185, 0.67);
    background: #F4F4F5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#F6F7F8');
    border-radius: 3px;
    margin: 0 3px 0 0;
    width: auto;
}

.Sommaire .icon {
    background-size: 50px 50px;
    display: inline-block;
    width: 10px;
    height: 15px;
    vertical-align: middle;
    margin: -3px 6px 0 0;
    background-position: 0 0;
    background-image: url('images/shop_buttons.21421f08fb77.png');
}

.Sommaire .fancyd_list:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 50%;
    margin-top: -5px;
    border: 5px solid transparent;
    border-right-color: #CDCED0;
}
.Sommaire .fancyd_list:after {
    margin-top: -4px;
    left: -8px;
    border-right-color: #fafafa;
    border-width: 4px;
}

.Sommaire .quick_menu {
    visibility: visible;
    opacity: 0;
    clear: both;
}

.Sommaire .quick_menu li {
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.Sommaire .quick_menu li:first-child {
    margin-left: 2px;
}

.Sommaire .quick_menu a {
    color: #A4A8AE;
    font-size: 15px;
    padding: 21px 14px;
    display: block;
    line-height: 17px;
}

.Sommaire .quick_menu a.current {
    color: #5b626d;
    opacity: 1;
}



.ScrollHaut {
    position: fixed;
    display: none;
    bottom: 12px;
    right: 12px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 12px;
    background: #d6d8db;
    color: #7f8184;
    font-weight: bold;
    border-radius: 3px;
    z-index: 9;
}

.ScrollHaut span {
    font-size: 12px;
    padding: 0;
    color: #7f8184;
    background: none;
    text-shadow: none;
}
